*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: sans-serif, 'poppins';
}

html{
    text-align: center;
    align-content: center;
    justify-content: center;
}

body{
    background-color: rgb(4, 1, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: center;
    margin-top: 150px;
}

.card{
    position: relative;
    flex-wrap: wrap;
    background: linear-gradient(70deg, rgba(2,0,36,1) 0%, rgba(120,9,121,1) 34%, rgba(0,212,255,1) 100%);
    width: 400px;
    height: 500px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.card img {
    margin: 30px;
}

a i{
    font-size: 30px;
    border: 5px solid transparent;
    align-content: center;
    border-radius: 30px;
}

a i:hover{
    scale: 1.4;
}
p{
    margin-bottom: 50px;
    font-size: 18px;
}
.card p{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}


.card h1{ 
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.card a {
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: black;
}


.card .btn{
   margin-top: 100px;
   padding: 15px;
   border-radius: 30px;
   border: none;
   background: rgb(4,1,15);
   color: #fff;
   border: 2px solid gold;
}
.btn{
    margin: 20px;
}
.btn:hover{
    box-shadow: 10px 10px  10px gray;
}
